<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	<link rel="stylesheet" href="Template.css">
	
	<title>Template Eptran</title>
</head>


<body>
	<header id="header">
		<i class="fa-solid fa-bars" id="bar" onclick="collapse()"></i>			
		<img src="img/epitrones.png" id="logo">
		<i class="fa-solid fa-user"></i>
	</header>

	<nav id="sideBar">
		<div>
			<a> Página Inicial </a> <br>
			<a> Pagina de Noticias </a> <br>
			<a> Conteudos </a> <br>
			<a> Quem somos Nós </a> <br>
			<a>  </a> <br>
			<a>  </a> <br>
			<a>  </a> <br>
		</div>
	</nav>

	<div id="overlay" onclick="collapse()"></div>

	<div id="left">
		
	</div>

	<div id="right">
		<div id="planeta">
			<img src="img/planeta.png">
		</div>

		<div id="foca">
			<img src="img/IMG_4532-removebg-preview (1).png" class="fa-bounce">
		</div>
	</div>

	<div id="content">
		Recentemente, criei um novo mapa no Modo Single-Player do jogo Minecraft. No começo, tudo estava normal, enquanto eu cortava as árvores e criava uma pequena bancada. Mas notei algo se mover entre a densa neblina (tenho um computador muito lento, por isso tenho que jogar com uma renderização minúscula). A principio achei que era uma vaca, por isso fui atrás dela, na esperança de conseguir algumas peles para minha armadura.

Entretanto, não era uma vaca. Olhando em minha direção estava um outro personagem, com a cor de pele padrão, mas seus olhos estavam vazios. Não vi nenhum nome aparecer, e eu verifiquei umas duas vezes para me certificar de que não estava no modo Multiplayer. Ele não ficou muito tempo; simplesmente olhou para mim e rapidamente correu pra dentro da neblina.  Corri atrás dele por curiosidade, mas ele foi embora.

Eu continuei com o jogo, não sabendo o que pensar. Enquanto expandia o mundo, via coisas que pareciam fora do lugar para o gerador de mapas aleatórios; Tuneis 2x2 no meio de rochas, pequenas e perfeitas pirâmides de areia no oceano, e os bosques de árvores com todas as suas folhas cortadas. Constantemente, sempre achava que havia visto o outro "player" outro no meio do nevoeiro profundo, mas eu nunca consegui ter uma visão melhor dele. Tentei aproximar ainda mais minha câmera sempre que pensava ter o visto, mas não adiantava.

Salvei o mapa e fui pros fóruns da Internet, pra ver se alguém havia encontrado o pseudo-jogador. Não havia ninguém que tivesse o visto. Eu criei meu próprio tópico falando sobre o homem e perguntando se alguém teve alguma experiência semelhante. O tópico foi deletado dentro de cinco minutos. Tentei mais uma vez, e o tópico foi eliminado ainda mais rápido. Em seguida, recebi uma mensagem pessoal de um usuário chamado 'Herobrine', dizendo apenas uma palavra: “Pare”. Quando fui olhar o perfil de Herobrine, deu erro na página.

Recebi um email de outro usuário do fórum. Ele afirmou que os ‘mods’ podiam ler as mensagens dos usuários do fórum, e que era mais seguro se comunicar por e-mail. A pessoa que me mandou o email alegou que ele também tinha visto o jogador mistério, e tinha um pequeno 'fórum' de outros usuários que também tinham o visto. Seus mundos estavam obviamente recobertos de características estranhas também, e eles diziam que o jogador misterioso não tinha pupilas.

Cerca de um mês se passou até que eu recebi noticias de meu informante novamente. Algumas das pessoas que haviam encontrado o homem misterioso procuraram o nome Herobrine, e descobriram que aquele nome era freqüentemente utilizado por um jogador da Suécia. Depois de recolher mais algumas informações adicionais, foi revelado que o jogardor era o irmão de Notch, o desenvolvedor do jogo. Eu, pessoalmente, enviei uma mensagem à Notch, e perguntei se ele tinha um irmão. Demorou um tempo, mas ele me mandou de volta uma mensagem muito curta:

“Eu tinha, mas ele não está mais entre nós.

-Notch."

Em Joinville, Santa Catarina, existe uma mansão que é chamada de Mansão Procópio Gomes. Procópio Gomes foi um dos pioneiros colonizadores da cidade, e sua família é deveras conhecida historicamente pelos moradores de Joinville. Mas a fama da família Gomes não se restringe ao fato de que eles foram uma das primeiras famílias a chegar à cidade e a colonizá-la, muito menos pelo fato de esta família ter sido uma das mais ricas e influentes do sul do Brasil. Sua fama se da de forma absurda pelo fato que passarei a narrar para os atenciosos leitores neste momento.
            Procópio Gomes mudou-se para Joinville com toda a sua família, que incluía sua esposa, três filhos (dois meninos e uma menina), seu irmão, Alberto Gomes e sua querida mãe, Maria Gomes. A família tinha uma convivência conjugal de certa forma tranquila, não havendo relatos históricos de grandes brigas ou momentos de maiores violências familiares.
            Apesar de ser uma família aparentemente tranquila, toda a regra tem sua exceção. E a exceção neste caso tinha nome próprio e uma existência macabra: Maria Gomes. Maria Gomes era uma descendente de alemães vindos ao Brasil no final do século XIX, e tinha herdado dos seus pais o ódio aos negros, nesta época ainda escravizados nestas terras. A história registra, e não apenas a história tradicional, mas a lembrança das pessoas mais idosas da cidade que tiveram contato direto com Maria Gomes em seus últimos momentos neste mundo, e que em suas memórias ficaram marcados para sempre.
            Amigos e conhecidos de Maria Gomes contam que já no final de sua vida, ela nutria um ódio incomensurável pelos seus próprios escravos e escravas, sendo que para ela tinha um acontecimento que era inadmissível entre sua criadagem: o nascimento de um filho ou filha. Todos contam que, quando uma escrava engravidava, Maria Gomes cometia todo tipo de atrocidade para fazer com que elas perdessem seus bebês, mas ainda assim nasciam alguns. Melhor não terem nascido, pois Maria dava para seus porcos comerem ainda vivos estas inocentes crianças.
            Quando no momento derradeiro de sua miserável e aterradora vida, Maria Gomes começou a gritar incontrolavelmente e a se debater na cama: “Eles estão vindo me buscar, estão chegando perto, estou sentindo o cheiro de podre deles” e gritava ainda que via o chão se abrir e dêmonios virem buscar sua alma. Poucos segundos antes de partir, ela também gritava: “eles estão me tocando e suas mãos queimam como ferro em brasa, socorro, eu me arrependo de tudo o que fiz, não quero ir com esses demônios, socorro, suas correntes estão me queimando”, finalmente silenciando e partindo sabe-se Deus para onde.
            Depois do acontecido, seu filho Procópio e seu irmão Alberto resolveram enterrar todos os bens pessoais de Maria e suas riquezas em ouro no porão da mansão, visto que acreditavam ser objetos e dinheiro amaldiçoado pelo caráter horripilante e grotesco de sua mãe. O fizeram, enterrando tudo o que um dia pertenceu a Maria Gomes na Mansão Procópio Gomes.


	</div>

	<footer id="footer">
		<div>
			<img src="img/Joinvillers.png">
		</div>

		<div>
			<a> 
			Informações de Contato <br> <hr style="color: white;">
			R. Caçador, 112 - Atiradores, Joinville - SC, 89203-610 <br>
			(47) 99121-0089 <br>
			detrans.uet@joinville.sc.gov.br 
			</a> 
		</div>

		<div>
			<a id="aSocial">
				Redes Sociais <br> <hr style="color: white;">
				<i class="fa-brands fa-instagram" style="font-size: 16px; margin: 6px;"></i>Instagram<br>
				<i class="fa-brands fa-square-facebook" style="font-size: 16px; margin: 6px;"></i>Facebook <br>
				<i class="fa-brands fa-youtube" style="font-size: 14px; margin: 6px;"></i>YouTube <br>
			</a>
		</div>

	</footer>

	<script src="Template.js" ></script>
</body>
</html>