@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-359deg);
	}
}

:root {
	--bg-color: #177ac3;
  }
  

body{
	font-family: Verdana, sans-serif;
	display: flex;
	height: 100vh;
	width: 100%;
	margin: 0px;
	flex-direction: column;
	justify-content: space-between;
}

header{
	position: fixed;
	display: flex;
	z-index: 200;
	left: 0px;
	top: 0px;
	height: 96px;
	width: 100%;
	background-color: var(--bg-color);
	justify-content: space-between;
	align-items: center;
	filter: drop-shadow(0px 10px 5px #a1a1a1);
}

#logo{
	height: 70px;
	width: auto;
	filter: brightness(10);

}

i{
	font-size: 32px;
	color: white;
	margin-left: 20px;
	margin-right: 20px;
}

nav{
	position: fixed;
	display: flex;
	z-index: 202;
	left: 0px;
	top: 96px;
	height: 100vh;
	width: 0%;
	background-color: #1467a1;
	color: white;
	text-align: center;
	font-size: 0px;
	transition: 0.25s;
}

nav div{
	display: flex;
	flex-direction: column;
	top: 0px;
	margin-top: 0px;
	height: 78%;
	justify-content: space-evenly;
}

nav a{
	transition: 0s;
	font-family: Verdana, sans-serif;
}

div{
	position:relative;
	width: 100%;
}

footer{
	display: flex;
	z-index: 100;
	width: 100%;
	background-color: var(--bg-color);
	color: white;
	filter: drop-shadow(0px -10px 5px #a1a1a1);
}

footer div{
	display: flex;
	flex-direction: column;
	margin-top: 0px;
	height: 240px;
	justify-content:space-evenly;
	align-items: center;
	text-align: center;
}

footer img{
	height: 128px;
	width: auto;
}

#aSocial{
	text-align: start;
}

hr{
	color: white;
	width: 96px;
}

#overlay{
	z-index: 201;
	position: fixed;
	background-color: #000000;
	visibility: hidden;
	opacity: 0%;
	width: 100vw;
	height: 100vh;
	margin-top: 96px;
	transition: 0.25s;
}

#right{
	display: flex;
	position: fixed;
	z-index: 300;
	width: 50vw;
	height: 100vh;
	left: 50vw;
	visibility: hidden;
}

#left{
	display: flex;
	position: fixed;
	z-index: 300;
	width: 50vw;
	height: 100vh;
	visibility: hidden;
}

#planeta{
	position: fixed;
	width: fit-content;
	height: 50vw;
	top: 100%;
	left: 100%;
	transform: translate(-70%, -40%);
}

#planeta img{
	height: 100%;
	animation: rotation 8s infinite linear;
}

#foca{
	position: relative;
	width: fit-content;
	height: 20vw;
	top: 100%;
	left: 50%;
	rotate: -5deg;
	transform: translate(0%, -175%);
}

#foca img{
	height: 100%;
}

@media (max-width: 720px) {
    footer {
        flex-direction: column;
    }
	#content{
		margin: 128px 6vw 32px 6vw;
		max-width: 80vw; 	
	}
	#planeta{
		height: 150vw;
		transform: translate(-60%, -30%);
	}
	#foca{
		height: 60vw;
		transform: translate(-50%, -160%);
	}
}

@media (min-width: 720px) {
    footer {
        flex-direction: row;
    }
	#content{
		margin: 128px 20vw 32px 20vw;
		max-width: 60vw; 	
	}
}